@import './transition.scss';
@import './element-variables.scss';
@import '../assets/fonts/font.css';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Microsoft Yahei';
}

#app {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

/* mapbox popup弹窗覆盖 */
.mapboxgl-popup {
  width: auto;
  max-width: none !important;
}
.mapboxgl-popup-content {
  background: rgba(5, 40, 65, 0.8);
  color: #fff;
  font-size: 15px;
  padding: 10px;
  box-shadow: 0 0 5px rgb(47 243 251 / 0.7);
  p {
    line-height: 32px;
  }
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(5, 40, 65, 0.8);
}
.mapboxgl-popup-close-button {
  background-color: rgb(47 243 251 / 0.7);
  padding: 0px 3px;
  font-size: 20px;
}
.mapboxgl-ctrl-top-right {
  top: 0;
  right: 0;
  display: none;
}

.marker {
  background-position: center center;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  p {
    background-color: rgba(250, 0, 0, 0.2);
    padding: 10px 20px;
    // animation: myfirst 3s infinite;
    box-shadow: 0px 0px 2px #f00;
    transition: all 0.3s;
    &:hover {
      transition: all 0.5s;
      transform: scale(1.2);
    }
  }
}

.gl-panel-item {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
}

.gl-chart-box {
  width: 100%;
  height: calc((100vh - 279px) / 3);
}
.gl-chart-box-m {
  width: 100%;
  height: calc((100vh - 300px) / 3);
}
